* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  color: white;
  background-color: rgb(227, 235, 236);
  max-width: 1000px;
  padding: 30px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container .col-1 {
  flex: 1 1 100%;
  background-color: #78bcbe;
  height: 80px;
}

.container .col-2 {
  flex: 1 1 calc((100% - 20px) / 2);
  height: 160px;
}

.container .col-3 {
  flex: 1 1 calc((100% - 2 * 20px) / 3);
  height: 160px;
}

.background-red {
  background-color: #eb5c4a;
}

.background-yellow {
  background-color: #f7b53f;
}

.background-darkblue {
  background-color: #415e7b;
}

@media screen and (max-width: 1024px) {
  .container .col-2,
  .container .col-3 {
    flex: 1 1 100%;
  }
}
